h2 {
    color: green;
    font-size: 40px;
}

.Box {
    border: 5px outset green;
    background-color: lightblue;
    text-align: center;
}

.bottomBox {
    border: 7px outset green;
    background-color: lightblue;
    text-align: center;
}

body {
    background-color: #78a8e8;
}

.picRight {
    float:right;
    margin-left:20px;
}

@keyframes anim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 498px 393px;
    }
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

p {
    font-size: 20px;
}
