h1 {
    color: black;
    font-size: 40px;
}

.Box {
    border: 5px outset green;
    background-color: #e5dfcc;
    text-align: center;
    width: 600px;
}

.bottomBox {
    border: 3px outset green;
    background-color: #e5dfcc;
    text-align: center;
}

.linksBox {
    border: 3px outset green;
    background-color: #e5dfcc;
    text-align: center;
}

body {
    background-color: #78a8e8;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.contentBoxLarge {
    background-color: #e5dfcc;
    width: 1000px;
    border: 3px outset green;
    padding: 0px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
}

.contentBoxMedium {
    background-color: #e5dfcc;
    width: 800px;
    border: 3px outset green;
    padding: 0px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
}

.contentBoxSmall {
    background-color: #e5dfcc;
    width: 400px;
    border: 3px outset green;
    padding: 0px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
}

.indent {
    text-indent: 20px;
    margin-left: 20px;
}